.repertuar {
  display: flex;
  margin-top: 100px
}

.form-select {
  background-color: #5a6268;
  color: white;
  border-radius: 5px;
}

.repertuar input.btn {
  margin-left: 10px;
  margin-top: -10px;
}

.repul {
  list-style-type: none;
  align-items: center;
  text-align: center;
}