//.maintext{
//  display: flex;
//
//}
h3.vipmain{
  display: flex;
  justify-content: center;
}

.titlefotele{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin-top: 10%;
}

.discfotele{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
}

.rounded float-right{
  margin-top: 500%;
}
